@tailwind components;
@tailwind utilities;

@layer tailwind-base {
  @tailwind base;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid transparent;
  box-shadow: inset 0px 0px 0px 10px rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
